@using IQBCore.Model;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>玉杰商务-服务平台</title>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <link href="@Url.Scrpit("~/Content/Style/Frame1/style.css")" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Style/Frame1/loader-style.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/main.css")" rel="stylesheet" />

    <script type="text/javascript">
        function ExitWeb()
        {
           
            window.location.href = "/Main/Login?action=exit";
        }
    </script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>
    <!-- SIDE MENU -->
    <div id="skin-select" class="LeftArea">
        <div id="logo">
            <h1>
                玉杰商务
                <span>服务平台</span>
            </h1>
        </div>
        @*<div class="dark">
            <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="Search Menu..." autofocus="">
                </span>
            </form>
        </div>*@

        @*<div class="search-hover" style="display: none;">
            <form id="demo-2">
                <input type="search" placeholder="Search Menu..." class="id_search">
            </form>
        </div>*@
 
        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                  @{
                       Html.RenderAction("MenuList");
                   }
                </div>
            </div>
        </div>
    </div>
    <!-- END OF SIDE MENU -->
    <!--Right Container-->
    <div class="RightArea">
        <!-- Top Bar Begin -->
        <div id="ulRightTopBar">
            <ul  class="UlHorizontal">
                <li>
                    @{
                        UserSession userSession = Session["UserSession"] as UserSession;
                        if (userSession != null)
                        {
                            <img class="img-profile" src="@userSession.Headimgurl" />
                            <span style="width:200px;">Hi @userSession.Name 你好！</span>
                        }
                    }    
                </li>
                <li>
                    <a href="#" onclick="javascript:ExitWeb();">
                        @*<span class="icon-gear"></span>*@&nbsp;&nbsp;退出
                    </a>
                </li>
            </ul>
        </div>
        <!-- Top Bar End -->

        <!-- NavBarContainer Begin -->
        <div id="NavBarContainer">
            <ul id="NavBar" class="UlHorizontal">
                <li>
                    <span class="entypo-home"></span>
                </li>
                <li>
                    <i class="fa fa-lg fa-angle-right"></i>
                </li>
                <li>
                    @RenderSection("SubMenu1")
                </li>
                <li>
                    <i class="fa fa-lg fa-angle-right"></i>
                </li>
                <li>
                    @RenderSection("SubMenu2")
                </li>
                @*<li class="pull-right">
                    <div class="input-group input-widget">
                        <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
                    </div>
                </li>*@
            </ul>
        </div>
        <!--NavBarContainer End -->
        <div class="ContentArea">
            @RenderBody()
        </div>
    </div>


</body>
</html>