
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    @*<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">*@
    <meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width" name="viewport">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
  
    <script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
    <script src="@Url.Scrpit("~/scripts/Wap/O2O/PageParameter.js")"></script>
    <script src="~/scripts/Component/jquery.transit.min.js"></script>
    <link href="@Url.Scrpit("~/Content/Component/IQBLeftmenu.css")" rel="stylesheet" />

    <script src="@Url.Scrpit("~/scripts/Component/IQB/IQBLeftmenu.js")"></script>
    <title>O2O商城</title>

<style type="text/css"> 
.o2o_header {
height: 50px;
width: 100%;
top: 0px;
text-align: center;
line-height: 50px;
border-bottom: 1px solid #f1f1f1;
font-size: 21px;
}

.o2o_content {

width: 100%;
height: 100vh;
padding: 0 0;

}

.HeaderMenu_Right{
        
    font-size:9px;
    position:absolute;
    right:10px;
    z-index:999;
    top:0px;
}

</style>
<script type="text/javascript">
    function GoMenu(url)
    {
        toPage(url);
    }
   
</script>
</head>
<body>
    <ul id="LeftMainMenu" class="sidenav">
        <li><a href=javascript:GoMenu('/O2OWap/Index')><i class="fa fa-inbox"></i><b>主页</b></a></li>
        <li><a href=javascript:GoMenu('/O2OWap/OrderList')><i class="fa fa-inbox"></i><b>用户所有订单</b></a></li>
        @*<li><a href="#"><i class="fa fa-pencil"></i><b>用户订单</b></a></li>
        <li><a href="#"><i class="fa fa-cog"></i><b>用户请求</b></a></li>*@
        <li><a href="javascript:GoMenu('/O2OWap/Index?act=switchUser')"><i class="fa fa-check"></i><b>切换用户</b></a></li> 
        <li><a href="javascript:GoMenu('/O2OWap/Learning')"><i class="fa fa-cog"></i><b>教学视频</b></a></li>
    </ul>
    <header class="o2o_header">
        <div class="LeftMenu" id="btnLeftMainMenu"><a href="#">菜单</a></div>
        <div>@RenderSection("Title")</div>
        <div class="HeaderMenu_Right"><a href="#" id="CurUser">@ViewBag.BuyerPhone</a></div>
    </header>
    <div class="o2o_content">
        @RenderBody()
    </div>
  @*<input type="hidden" id="hCurUser" value="" />*@
</body>
</html>

