@model IQBWX.Models.JsonData.jsonError
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <title>错误页面</title>
    <link href=@Url.Scrpit("~/Content/Css/MainCss.css") rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/PP.css")" rel="stylesheet" />
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/ErrorMessage.js")"></script>
</head>
<body>
    <style>
        body {
            background: #ffffff;
        }
    </style>
    <div class="mgz cen">
        @if (Model.errorCode == 9999)
        {
            <div class="mg2" style="margin-top:20px;">系统维护中</div>
        }
            @*<div class="z404 mg2"><img style="width:100%;" align="absmiddle" src="@Url.Scrpit("~/Content/images/404_02.png")" /></div>*@
        <div class="mg2 xi30 huang" style="padding:30px;">@Model.errorMsg</div>

        </div>
   
    <div class="yuecon1 mgz cen xi28 bai tm AlwaysBottom20" id="btnContainer">
        <a id="goAction" href="@Model.btnUrl">@Model.btnText</a>
    </div>
    <input type="hidden" id="errorCode" value="@Model.errorCode" />
    <input type="hidden" id="urlToJM" value="" />

</body>
</html>
