@model IQBWX.Models.JsonData.jsonError

@{
    ViewBag.Title = "错误页面";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}
<script src="@Url.Scrpit("~/Content/Script/jsCommon.js")"></script>
<script src="@Url.Scrpit("~/Content/Script/ErrorMessage.js")"></script>
    <style>
        body {
            background: #ffffff;
        }
        .CallCenter{
            text-align: center;
            font-size: 16px;
            color: #1A89EA;
            height: 200px;
            line-height:50px;
            cursor:pointer;
        }
        .CallCenterImg
        {
            display:none;
        }
        .CallCenterImg img{
            width:230px;
            height:230px;
        }
        .ErrorMsg{
            padding:30px; 
            font-size:18px;
            text-align:center;
        }
    </style>
    <div class="mgz cen">
        @if (Model.errorCode == (int)IQBCore.IQBWX.BaseEnum.Errorcode.SystemMaintain)
        {
            <div class="ErrorMsg" style="margin-top:20px;">系统维护中</div>
        }
     
        <div class="ErrorMsg">@Model.errorMsg</div>

        </div>
@if (Model.errorCode == (int)IQBCore.IQBWX.BaseEnum.Errorcode.NoStoreAuthorized || 
    Model.errorCode == (int)IQBCore.IQBWX.BaseEnum.Errorcode.NotAuthorized)
{
    <div class="CallCenter">
        <div onclick="ShowCallCenter();">联系客服</div>
        <div id="img_CallCenter" class="CallCenterImg"><img src="~/Content/images/CallCenter.jpg" /></div>
    </div>
}
   

<div class="yuecon1 mgz cen xi28 bai tm AlwaysBottom20" id="btnContainer">
    <a id="goAction" href="@Model.btnUrl">@Model.btnText</a>
</div>
    
<input type="hidden" id="errorCode" value="@Model.errorCode" />
<input type="hidden" id="urlToJM" value="" />

