
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <title>贷款口子</title>
    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />    
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/SystemConfig.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/iqb.dropload.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/Summery.js")"></script>   
   
</head>
<body>
   
    <div class="swiper-container kouzi_new mgz2" id="swiper-container">
        <div class="con1 mgz2 xi20 hui">最新口子</div>               
              <ul id="InfoUl"></ul>           
    </div>
   
  
</body>
</html>
