
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>转账记录</title>
    <link href="@Url.Scrpit("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/main.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Style/Web/InfoWin.css")" rel="stylesheet" />

    <script src="@Url.Scrpit("~/scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
    <script src="@Url.Scrpit("~/scripts/Web/OrderViewTransfer.js")"></script>
    
</head>
<body>
    <div class="InfoContainer" style="width:100%;"> 
     
        <table id="OrderTable" class="table table-hover table-bordered TableOverflowHidden">
            <thead class="cf">
                <tr id="trHeader">
                    <th style='width:25%;'>订单编号</th>
                    <th style="width:25%;">代理名</th>
                    <th style="width:25%;">代理金额</th>
                    <th style="width:25%;">订单时间</th>
                  
                </tr>
            </thead>
            <tbody id="OrderContainer">
              
            </tbody>
        </table>
       
        <hr style="border:2px solid dodgerblue; width:100%;" />
        <div class="Title">转账记录</div>
        <table id="TransferTable" class="table table-hover table-bordered TableOverflowHidden">
            <thead class="cf">
                <tr id="trHeader">
                    <th style='width:25%;'>汇款编号</th>
                    <th style="width:25%;">汇款方向</th>
                    <th style="width:25%;">汇款金额</th>
                    <th style="width:25%;">汇款时间</th>
               
                </tr>
            </thead>
            <tbody id="TransferContainer">
            
            </tbody>
        </table>
</div>
</body>
</html>
