
@{
    ViewBag.Title = "汇款管理列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    单据管理
}
@section SubMenu2{
    汇款列表
}
<link href="@Url.Scrpit("~/Content/Style/Web/List.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Component/IQBTable.js")"></script>
<link href="@Url.Scrpit("~/Content/Style/Web/FixTableList.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/TransferList.js")"></script>

<div id="ListArea">
    <div id="Title" style="margin:0px;">
        <span id="ListTitleName">汇款列表</span>
        <div class="ListCondition">
            <ul class="UlHorizontal">
                <li>
                    <div class="form-group">
                        <label>汇款对象：</label>
                        <input id="cAgentName" type="text" class="form-control ConditionField">
                    </div>
                </li>
                <li>
                    <label>日期：</label>
                    <select id="cDateType" class="form-control ConditionField">
                        <option value="1" selected>今天</option>
                        <option value="2">本周</option>
                        <option value="3">本月</option>
                        <option value="99">全部</option>
                    </select>
                </li>
            </ul>

        </div>
        <ul class="UlHorizontal" style="float:right">
            <li>
                <button type="button" id="btnSearch" class="btn btn-primary" onclick="btnSearch();">查询</button>
            </li>

        </ul>
    </div>
    <div id="ListContent">
        <div class="fix-header-table" id="FixHeaderTable">
            <div class="divH" id="divTableHeader">
                <table id="TableHeader" class="table table-hover table-bordered TableOverflowHidden">
                    <thead class="cf">
                        <tr id="trHeader">
                            <th style="width:150px;"> 操作</th>
                            <th style='width:250px;'>汇款编号</th>
                            <th style="width:100px;">汇款金额</th>
                            <th style="width:150px;">汇款方向</th>
                            <th style="width:200px;">汇款时间</th>
                            <th style="width:200px;">对应的订单编号</th>
                            <th style="width:200px;">汇款账户</th>
                        </tr>
                        <tr>
                            <td colspan="7" class="RecordSum" id="RecordSum"></td>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="divTableBody" class="divB" style="height: 450px;">
                <table id="trContainer" class="table table-hover table-bordered TableOverflowHidden"></table>
            </div>
            <div id="divProcess" style="height:450px;line-height:450px;text-align:center;display:none;">
                数据加载中。。。
            </div>
        </div>
        <div class="divNextButton" id="btnNext"><button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Next();">下一页</button></div>
    </div>
</div>
