
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <title>加入会员</title>
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/jsCommon.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/Pay.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/ApplyMember.js")"></script>

    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
</head>
<body>
    <form action="" method="post" id="tf">
        <div class="lbt mgz">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img align="absmiddle" src="~/Content/images/goumaihuiyuan_02.jpg" /></div>
                    <div class="swiper-slide"><img align="absmiddle" src="~/Content/images/goumaihuiyuan_02.jpg" /></div>
                    <div class="swiper-slide"><img align="absmiddle" src="~/Content/images/goumaihuiyuan_02.jpg" /></div>
                    <div class="swiper-slide"><img align="absmiddle" src="~/Content/images/goumaihuiyuan_02.jpg" /></div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="gmzx mg2">
            <div class="gmzxl f">购买会员</div>
            <div class="gmzxr r xi21"><a href="#">购买帮助</a><img align="absmiddle" src="~/Content/images/goumaihuiyuan_04.jpg" /></div>
        </div>
        <div class="danxuan mgz cen">
            <ul>
                <li>
                    <input type="radio" id="radiolevel1" class="regular-radio" name="radioLevel" value="1" onchange="SelectLevel();" /><label for="radiolevel1">
                        <div class="danxuans mg2">
                            <div class="danxuanss mg2 xi40 lan">¥158</div>
                            <div class="danxuansx mg2"><img align="absmiddle" src="~/Content/images/goumaihuiyuan_09.jpg" />城区经理</div>
                        </div>
                    </label>
                </li>
                <li>
                    <input type="radio" id="radiolevel2" class="regular-radio" name="radioLevel" value="2" onchange="SelectLevel();"  checked /><label for="radiolevel2">
                        <div class="danxuans mg2">
                            <div class="danxuanss mg2 xi40 lan">¥358</div>
                            <div class="danxuansx mg2"><img align="absmiddle" src="~/Content/images/goumaihuiyuan_11.jpg" />大区经理</div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
        <div class="grzlcon1 mgz xi21">
            <ul>
                <li>
                    <div class="grzlcon1l f">姓名</div>
                    <div class="grzlcon1r f"><input id="userName" name="" type="text" class="text1 xi21"></div>
                </li>
                <li>
                    <div class="grzlcon1l f">手机</div>
                    <div class="grzlcon1r f"><input id="userPhone" name="" type="text" class="text2 xi21"></div>
                    <div class="grzlcon1r f"><img align="absmiddle" src="~/Content/images/goumaihuiyuan3_03.jpg" onclick='removeText("userPhone");' /></div>
                    <div class="grzlcon1r f">
                        <input id="BnGetVerifyCode" name="" type="button" class="an1 tm xi19 bai" value="获取验证码" 
                               onclick='GetUserVerifyCode("@Session[IQBWX.Common.IQBConst.SessionUserId]")'>
                    </div>
                </li>
                <li>
                    <div class="grzlcon1l f">验证码</div>
                    <div class="grzlcon1r f"><input id="userVerifyCode" name="" type="text" class="text1 xi21"></div>
                </li>
                <li>
                    <div class="grzlcon1l f">微信好友数</div>
                    <div class="grzlcon1r r">
                        <select name="" class="bd1_1 xi21" id="WXNum">
                            <option value="0">请选择...</option>
                            <option value="1">0-100</option>
                            <option value="2">100-500</option>
                            <option value="3">500-2000</option>
                            <option value="4">2000以上</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="grzlcon1l f">所在省市</div>
                    <div class="grzlcon1r r">
                        <select name="Province" id="Province" class="bd1_1 xi21">
                          
                        </select>
                    </div>
                </li>
                <li>
                    <div class="grzlcon1l f">详细地址</div>
                    <div class="grzlcon1r f"><input name="" type="text" class="text1 xi21"></div>
                </li>
            </ul>
        </div>
        <div class="gmzxdb mgz cen">
            <div class="gmzxdbr r">
                <div class="gmzxdbrl f xi21">合计：<span class="lan xi40" id="LevelAmt">¥358</span></div>
                <div class="gmzxdbrr f"><input type="button" class="btn1 xi21 bai tm" value="提交订单" onclick='fPostPay("@Url.Action("PostPay","Pay")")'></div>
            </div>
        </div>
        <div class="gmzxdbz mgz"></div>

        <div class="tc mgz cen" onclick="HideInfo();" id="msg" style="display:none;">
            <div class="tcs mg2 xi40">
                <div class="tcss r">×</div>
            </div>
            <div class="tcc mg2 xi30" id="InfoTitle"></div>
            <div class="tcx mg2 hui" id="InfoMessage"></div>
            <div class="tcn mg2 xi28 bai tm"><a href="#">确定</a></div>
        </div>
        <input id ="hUserId" type="hidden" value="@Session[IQBWX.Common.IQBConst.SessionUserId]" />
    </form>
</body>

</html>
