
@{
    ViewBag.Title = "订单列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
<a href="/Order/List" title="单据管理"> 单据管理</a>
   
}
@section SubMenu2{
    列表
}
<link href="@Url.Scrpit("~/Content/Style/Web/List.css")" rel="stylesheet" />

<link href="@Url.Scrpit("~/Content/Style/Web/FixTableList.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Component/IQBTable.js")"></script>
<script src="@Url.Scrpit("~/scripts/Web/OrderList.js")"></script>


<div id="ListArea">
    <div id="Title" style="margin:0px;">
        <span id="ListTitleName">订单列表</span>
        <hr />
        <div class="ListCondition">
            <ul class="UlHorizontal">
                <li>
                    <div class="form-group">
                       <label >代理人：</label>
                       <input id="cAgentName" type="text" class="form-control ConditionField">
                    </div>
                </li>
                <li>
                    <label>商户：</label>
                    <select id="cStore" class="form-control ConditionField">
                      
                    </select>
                </li>
                <li>
                    <label>日期：</label>
                    <select id="cDateType" class="form-control ConditionField">
                        <option value="1" selected>今天</option>
                        <option value="2">本周</option>
                        <option value="3">本月</option>
                        <option value="99">全部</option>
                    </select>
                </li>
                <li>
                    <label>订单状态：</label>
                    <select id="cOrderStatus" class="form-control ConditionField">
                        <option value="1">支付</option>
                        <option value="2">结算</option>
                        <option value="-1">异常</option>
                        <option value="99">全部</option>
                    </select>
                </li>
            </ul>
            
        </div>
        <ul class="UlHorizontal ListButtonRight" >
            <li>             
                <button id="btnSearch" type="button" class="btn btn-primary" onclick="btnSearch();">查询</button>
            </li>
        </ul>
    </div>
    <div id="ListContent">
        <div class="fix-header-table" id="FixHeaderTable">
            <div class="divH" id="divTableHeader">
                <table id="TableHeader" class="table table-hover table-bordered TableOverflowHidden">
                    <thead class="cf">
                        <tr id="trHeader">
                            <th style="width:150px;"> 操作</th>
                            <th style="width:200px;">订单编号</th>
                            <th style="width:250px;">支付宝订单编号</th>
                            <th style="width:200px;">订单状态</th>
                            <th style="width:150px;">总金额</th>
                            <th style="width:200px;">交易时间</th>
                            <th style="width:200px;">代理用户</th>
                            <th style="width:200px;">代理扣点率</th>
                            <th style="width:200px;">代理扣点金额</th>
                            <th style="width:200px;">代理实际收入</th>
                            <th style="width:200px;">商户名</th>
                            <th style="width:200px;">商户类型</th>
                            <th style="width:200px;">商户佣金点率</th>
                            <th style="width:200px;">商户佣金</th>
                            <th style="width:200px;">平台实际盈利</th>
                            <th style="width:200px;">结算编号</th>
                            <th style="width:200px;">结算金额</th>                            
                        </tr>
                        <tr>
                            <td colspan="17" class="RecordSum" id="RecordSum"></td>  
                        </tr>
                    </thead>
                </table>
            </div>

            <div id ="divTableBody" class="divB" style="height: 450px;" >
                 <table id="trContainer" class="table table-hover table-bordered TableOverflowHidden">       
                 </table>
            </div>

            <div id="divProcess" style="height:450px;line-height:450px;text-align:center;display:none;">
                数据加载中。。。
            </div>
       </div>
        <div class="divNextButton" id="btnNext"><button type="button" class="btn btn-success" style="width:250px; height:60px;" onclick="Next();">下一页</button></div>
    </div>
</div>
