
@{
    ViewBag.Title = "商户详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    商户
}
@section SubMenu2{
    商户编辑
}
<link href="@Url.Scrpit("~/Content/Style/Web/Info.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Web/StoreInfo.js")"></script>
<link href="@Url.Scrpit("~/Content/Component/bootstrap-switch/bootstrap-switch.min.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/Content/Component/bootstrap-switch/bootstrap-switch.min.js")"></script>


<div id="InfoArea">
    <div id="Title" class="alert alert-info BarTitle">
        <span class="entypo-info-circled"></span>
        <strong>查看或编辑信息</strong>
        
    </div>
    <div id="EditArea">
        <input type="hidden" id="storeId" />
        <div class="form-group">
            <label class="col-sm-3 control-label">供应商</label>
            <div class="col-sm-6">
                <input id="Provider" type="text" class="form-control NeedFill">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商户名</label>
            <div class="col-sm-6">
                <input id="Name" type="text" class="form-control NeedFill">
            </div>
        </div>

       

        <div class="form-group" id="gpIsReceiveAccount">
            <label class="col-sm-3 control-label">是否收款账户</label>
            <div class="col-sm-6">
                <input id="IsReceiveAccount" style="width:30px;" type="checkbox"  class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">佣金点率</label>
            <div class="col-sm-6">
                <input id="Rate" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">日营业额</label>
            <div class="col-sm-6">
                <input id="DayIncome" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">剩余额度</label>
            <div class="col-sm-6">
                <input id="RemainAmount" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">最小额度</label>
            <div class="col-sm-6">
                <input id="MinLimitAmount" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">最大额度</label>
            <div class="col-sm-6">
                <input id="MaxLimitAmount" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">大码/小码</label>
            <div class="col-sm-6">
                <select id="StoreType" class="form-control">
                    <option value="4">大码</option>
                    <option value="0">小码</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">商户类型</label>
            <div class="col-sm-6">
                <select id="Channel" class="form-control">
                    <option value="0">平台</option>
                    <option value="1">加盟</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">中账户</label>
            <div class="col-sm-6">
                <input id="MidCommAccount" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">中佣金</label>
            <div class="col-sm-6">
                <input id="MidCommRate" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-6">
                <input id="Remark" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">日志</label>
            <div class="col-sm-6">
                <input id="Log" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">状态</label>
            <div class="switch col-sm-6" data-on="success" data-off="warning">
                <input type="checkbox" id="StoreStatus">
            </div>
        </div>
    </div>

    <div class="ButtonList">
        <button type="button" class="btn btn-success" onclick="Save();">保存</button>
    </div>
    <input type="hidden" id="RecId" />
 </div>
