@model IQBCore.IQBPay.Models.QR.EQRUser
@{
    ViewBag.Title = "O2O商城";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}

<script type="text/javascript" src="@ViewBag.ppUrl/scripts/Component/jquery-confirm.js"></script>
<link href="@ViewBag.ppUrl/Content/Component/jquery-confirm.min.css" rel="stylesheet" />

@*<script type="text/javascript" src="@ViewBag.ppUrl/scripts/Component/jquery.blockUI.min.js"></script>*@


<script src="@Url.Scrpit("~/Content/Script/IQBPay/O2O/EntryAgent.js")"></script>

<link href="@Url.Scrpit("~/Content/Css/O2O/O2OMain.css")" rel="stylesheet" />
<style>
   

    .box {
        width: 100%;
        height: 80px;
     
        text-align: center;
    }
    .QRImg{
         width: 300px;
        height: 300px; 
    }

    .o2o_index_btn {
        width: 80%;
        height: 45px;
        margin: 0 auto;
        line-height: 45px;
        position:relative;
        top:30px;
    }

    #o2o_btn__order {
        background-color: #ff4b59;
        color: #ffffff;
        -moz-box-shadow: 0px 8px 15px rgba(255, 75, 89, 0.2);
        /* 老的 Firefox */
        box-shadow: 0px 8px 15px rgba(255, 75, 89, 0.2);
        cursor: pointer;
    }
     .btnOnPC{
     margin-top:20px;
     width:80%;  
    }
     .ShowUrl
     {
        text-align:center;
        font-size:22px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:rgb(0, 148, 255);

     }
     .Footbar1{
         display:flex;
         justify-content:space-between;
         padding:8px;
     }
     .sr-only
    {
       color:black;
       clip:unset;
       width:100%;
       height:40px;
       left:0px;
    }
    .progressbar
    {
        height:40px;
    }
   
</style>
<script type="text/javascript">

    function OrderForUser() {
        window.location.href = "@Model.TargetUrl";
    }
    function CreateOrderForUser() {
        window.location.href ="@ViewBag.ppUrl"+"O2OWap/EntryOrderForUser?aoId=@Model.OpenId";
    }

    function OpenOnPc() {
        var show = '<div class="ShowUrl"></br>@ViewBag.ppUrl</div>';

        $.confirm({
            theme: "light",
            title: 'PC端打开地址',
            type: 'red',
            content: show,
            buttons: {
                know: {
                    text: "关闭",
                    btnClass: "btn-red",

                }
            }
        });
    }

</script>

<header class="o2o_header">O2O商城入口</header>

<div class="o2o_content">
    <div class="box">
        <div class="o2o_index_btn" id="o2o_btn__order" onclick="toRateList();">查看当前各商城费率</div>
    </div>
    <hr class="HR3_668ff2" />
    <div style="text-align: center;">
        <img Id ="QRImg" src="@Model.OrigQRFilePath" class="QRImg" />
    </div>
    @*<div style="text-align: center;">
        <button type="button" onclick="OrderForUser();" class="mgz btn btn-warning btnOnPC" id="btnOnPC">替用户下单</button>
    </div>*@
    @*<div style="text-align: center;margin-top:20px;">
        <ul class="">
            <li class="list-group-item"><button type="button" onclick="CreateOrderForUser();" class="btn btn-warning" id="btnOnPC">替用户下单</button></li>
            <li class="list-group-item"><button type="button" onclick="OpenOnPc();" class="btn btn-info" id="btnOnPC">PC端入口</button></li>
        </ul>
    </div>*@
    

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container Footbar1">
            <button type="button" onclick="OpenOnPc();" class="btn btn-info" id="btnOnPC">PC端入口</button>
            <button type="button" onclick="CreateOrderForUser();" class="btn btn-success" id="btnOrderForUser">替用户下单</button>
            <button type="button" onclick="ShowAllOrderList('@ViewBag.AgentPhone','@Model.OpenId');" class="btn btn-warning" id="btnAllOrder">全部订单</button>
        </div>
       
    </nav>
  
    @if (ViewBag.IsAdmin)
    {
        <div id="AdminArea" style="text-align:center;width:100%">
            <a href="@ViewBag.ppUrl/O2OWap/WHReCharge">出库商充值</a>

        </div>
    }
</div>


