
@{
    ViewBag.Title = "用户详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenu1{
    <a href="/User/List" title="用户管理">用户管理</a>
}
@section SubMenu2{
    用户详情
}


<link href="@Url.Scrpit("~/Content/Style/Web/Info.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/scripts/Web/Common.js")"></script>
<script src="@Url.Scrpit("~/scripts/Web/UserInfo.js")"></script>
<link href="@Url.Scrpit("~/Content/Component/bootstrap-switch/bootstrap-switch.min.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/Content/Component/bootstrap-switch/bootstrap-switch.min.js")"></script>


<div id="InfoArea">
    <input type="hidden" id="storeId" />
    <input type="hidden" id="OpenId" />
    <input type="hidden" id="QrUserId" />
    <div id="Title" class="alert alert-info BarTitle">
        <span class="entypo-info-circled"></span>
        <strong>查看或编辑信息</strong>

    </div>
   
    
    <div id="EditLeftArea">
        <div class="form-group">
            <label class="col-sm-3 control-label">用户名</label>
            <div class="col-sm-6">
                <input id="Name" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">扣点率</label>
            <div class="col-sm-6">
                <input id="Rate" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">提现账户(重要)</label>
            <div class="col-sm-6">
                <input id="AliPayAccount" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">是否支持3级</label>
            <div class="col-sm-6">
                <input id="NeedFollowUp" style="width:30px;" type="checkbox" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">上级代理</label>
            <div class="col-sm-6">
                <select id="selParentAgent" class="form-control"></select>
                @*<input id="ParentAgentId" type="hidden" />
                <input id="ParentAgent" type="text" class="form-control" />*@
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">上级代理返点率</label>
            <div class="col-sm-6">
                <input id="ParentCommissionRate" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">收款商户</label>
            <div class="col-sm-6">
                <select id="selStore" class="form-control"></select>
                @*<input id="StoreId" type="hidden">
                <input id="StoreName" type="text" class="form-control" />*@
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">注册日期</label>
            <div class="col-sm-6">
                <input id="RegisterDate" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">市场扣点率</label>
            <div class="col-sm-6">
                <input id="MarketRate" type="text" class="form-control" disabled="disabled" />
                (随点率变化)
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">用户角色</label>
            <div class="col-sm-6">
                <select id="selUserRole" class="form-control">
                    <option value="1">过客</option>
                    <option value="2">代理</option>
                    <option value="3">总代理</option>
                    <option value="99">商户</option>
                    <option value="100">超级管理员</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">用户状态</label>          
            <input type="checkbox" id="UserStatus" />
        </div>

    </div>

    <div id="EditRightArea">
        <div style="text-align:center; margin:20px;"><a id="GoQRDetail">【邀请码】</a></div>
        <div id="RightTop" style="height:150px;">
          
            <div class="form-group">
                <label class="col-sm-4 control-label">邀请码ID</label>
                <div class="col-sm-6">
                    <input id="Invite_QRCode" type="text" class="form-control NeedFill" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">邀请码点率(0-100)</label>
                <div class="col-sm-6">
                    <input id="Invite_Rate" type="text" class="form-control NeedFill" onkeyup='this.value = this.value.replace(/[^\d.]/g, "")'>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">邀请码上级代理</label>
                <div class="col-sm-6">
                    <select class="form-control" id="Invite_ParentOpenId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">邀请码上级佣金点率</label>
                <div class="col-sm-6">
                    <input id="Invite_ParentCommissionRate" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">邀请码额度</label>
                <div class="col-sm-6">
                    <input id="Invite_MaxInviteCount" type="text" class="form-control">
                </div>
            </div>
        </div>
        
        <hr style="height:3px;border:none;border-top:3px double red;" />
        <div style="text-align:center;">【大额码】</div>
        <div id="RightBottom" style="height:100px;">  
            <div class="form-group">
                <label class="col-sm-4 control-label">大额码Rate</label>
                <div class="col-sm-6">
                    <input id="QRHuge_Rate" type="text" class="form-control NeedFill" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">大额码用户手续费</label>
                <div class="col-sm-6">
                    <input id="QRHuge_MarketRate" type="text" class="form-control NeedFill" />
                </div>
            </div>
          
        </div>  
        <div class="form-group" style="text-align:center;">
            <button type="button" class="btn btn-warning" onclick="CreateOrUpdateQRHuge();">创建更新大额码</button>
            <button type="button" class="btn btn-primary" onclick="CloseQRHuge();">关闭大额码</button>
        </div>
    </div>
  
    
    <div class="ButtonList">
        <button type="button" class="btn btn-success" onclick="Save();">保存</button>
       

    </div>
    <div>
        <img id="QRShow" src="" />
    </div>
   
</div>
