
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>代理佣金</title>
    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/List.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/PP.css")" rel="stylesheet" />
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>

</head>
<body>
    <div class="ListTitle mgz2 xi20 hui">
        代理佣金
    </div>
    <div class="ListTitle_Condition1 mgz2">
        <label>日期：</label>
        <select id="cDateType" style="font-size:16px;" onchange="DateChanged()">
            <option value="1">今天</option>
            <option value="2">本周</option>
            <option value="3">本月</option>
            <option value="99" selected>全部</option>
        </select>
    </div>

    <input type="hidden" value="@ViewBag.OpenId" id="hOpenId" />
</body>
</html>
