@model IQBCore.IQBPay.Models.Result.RDoTransfer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>我要提现</title>

    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/PP.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/DoTransfer.css")" rel="stylesheet" />
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/jsCommon.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/IQBPay/DoTransfer.js")"></script>
</head>
<body style="background-color:#F7F7F7;">
    <div class="mgz cen">
        <div class="yues mg2"><img id="TransferLogo" src="~/Content/images/yue_03.jpg"  /></div>
        <div class="mg2 xi21">我的余额(元)</div>
        <div class="mg2 xi71">¥ <span id="MyRemainAmount">@Model.MyRemainAmount</span></div>
      
        <ul class="ULList">
            <li>
                <div class="liHeaderDivLeft">订单余额</div>
                <div class="liHeaderDivRight">代理佣金余额</div>
            </li>
            <li>
                <div class="liBodyDivLeft">&yen <span id="MyOrderTotalAmount">@Model.MyOrderTotalAmount</span></div>
                <div class="liBodyDivRight">&yen <span id="MyAgentOrderTotalAmount">@Model.MyAgentOrderTotalAmount</span></div>
            </li>
        </ul> 
    </div>
    
    <button type="button" class="mgz btn btn-primary AlwaysBottom20" id="btnPay" style="width:90%" onclick="Transfer('@Model.MyOrderTotalAmount','@Model.MyAgentOrderTotalAmount','@Model.AliPayAccount','@Model.OpenId');">提现</button>
</body>
</html>
