
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <title>订单记录</title>
    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/List.css")" rel="stylesheet" />
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/iqb.dropload.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/PPOrderList.js")"></script>
    
</head>
<body>
    <div class="swiper-container kouzi_new mgz2" id="swiper-container">
        <div class="ListTitle mgz2 xi20 hui">订单记录</div>

        <table class="table mgz2 large-only ListTableTitle">
            <tbody>
                <tr class="text-right">
                    <th style="width:30%;">订单编号</th>
                    <th style="width:15%;">创建时间</th>
                    <th style="width:15%;">付款账户</th>
                    <th style="width:15%;">订单金额</th>
                    <th style="width:15%;">是否结算</th>
                </tr>
            </tbody>
        </table>
        
        <table class="table large-only">
            <tbody>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                <tr>
                    <td style="width:30%;">IQBO20171012034217n5vcr074</td>
                    <td style="width:15%;">2012-1-2 10:13</td>
                    <td style="width:15%;">son***hotmail.com</td>
                    <td style="width:15%;">292912.2</td>
                    <td style="width:15%;">是</td>
                </tr>
                
            </tbody>
        </table>
        @*<ul id="OrderListUl">
            <li>
                <div class="DivRow">
                    <div class="DivCol">订单编号:1020102010201</div>
                    <div class="DivCol">创建时间:2019-2-1 10:32</div>
                </div>
                <div class="DivRow">
                    <div class="DivCol">买家账户:song***2hotmail.com</div>
                    <div class="DivCol">订单金额:2012.32元</div>
                </div>
            </li>
        </ul>*@
    </div>
</body>
</html>
