
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
    <title>订单记录</title>
    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/List.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/PP.css")" rel="stylesheet" />
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/IQBPay/PPOrderList.js")"></script>
    
</head>
<body>

    <div class="ListTitle mgz2 xi20 hui">订单记录</div>
     
    <table id="TableHeader" class="table large-only mgz2 ListTableTitle">
        <tbody>
            <tr class="text-right" id="trHeader">
                <th style="width:50%;">订单编号</th>
                <th style="width:50%;">订单金额</th>
            </tr>
        </tbody>
    </table>

    <div class="ListTableBody" id="ListTableBody">
        <table class="table mgz2  large-only" id="trContainer">
         
        </table>
    </div>
    <button type="button" class="mgz btn btn-primary AlwaysBottom20"  id="btnNext" style="width:90%" onclick="Next();">下一页</button>
    <input type="hidden" value="@ViewBag.OpenId" id="hOpenId" />
</body>
</html>
