
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />
   
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/jsCommon.js")"></script>
    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/PP.css")" rel="stylesheet" />
    
    <script src="@Url.Scrpit("~/Content/Script/IQBPay/Pay.js")"></script>

    <title>支付界面</title>
</head>
<body>
    <style>
        body {
            background: #ffffff;
        }
        .TitleInfo{
        height:180px;
        width:95%;
        text-align:left;
        }
    </style>
  
    <div class="mgz cen" id="PayArea">
        <div class="yuec mg2 xi35" style="margin-top:20px;">服务界面</div>
        <div class="TitleInfo mg2 xi30" style="color:#980C16">为避免人才两空，请先验证手机。</br>平台将在您支付成功后，发送确认收款码至您手机，请注意短信消息。</div>
        <div>
            <span class="FieldLabel">手机号码</span>
            <input id="userPhone" class="VerifyInputPhone" type="text">
            <button type="button" class="mgz btn btn-success verifyButton" id="bnConfirmPhone" onclick="ConfirmPhone()">确定</button> 
        </div>
        <div id="VerifyArea">
            <div style="margin-top:20px;">
                <span  class="FieldLabel">验证码</span>
                <input id="VerifyCode" class="VerifyInputCode" type="text">
                <button type="button" class="mgz btn btn-success verifyButton" id="BnGetVerifyCode" onclick="GetVerifyCode()">获取验证码</button> 
            </div>
            <div class="cen" style="margin-top:20px;">
                <button id="BnVerifyConfirm" style="display:none;" type="button" class="mgz btn btn-danger verifyOKButton" onclick="VerifyCodeConfirm()">OK</button>
            </div>
        </div>

        <div id="PayContent">        
            <div class="yuex mg2 xi20" style="color:cornflowerblue">请通过支付宝扫码支付</div>
            <div class="form-group">
                <label class="FieldLabel">输入金额</label>
                <div class="mgz">
                    <input id="TotalAmout" class="PayEditInput" type="text" onkeyup='this.value = this.value.replace(/[^\d.]/g, "")'>
                </div>
            </div>
            <div id="buttonArea">
                <button type="button" class="mgz btn btn-primary AlwaysBottom20" id="btnPay" style="width:90%; height:100px;" onclick="PayToAli();">支付</button>
            </div>
        </div>

       
    </div>
    @*<input type="hidden" id="ReceiveNo" value="@ViewBag.ReceiveNo" />*@
    <input type="hidden" id="qrUserId" value="@ViewBag.QRUserId" />
</body>
</html>
