
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="target-densitydpi=286, width=640, user-scalable=no" />

    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/jsCommon.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/jsCookie.js")"></script>
    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/PP.css")" rel="stylesheet" />

    <link href="~/Content/Css/Component/jquery-confirm.css" rel="stylesheet" />
    <script src="~/Content/Script/Component/jquery-confirm.js"></script>
    <script src="@Url.Scrpit("~/Content/Script/IQBPay/Pay2.js")"></script>

    <title>【收银台】</title>
</head>
<body>
    <style>
        body {
            background: #ffffff;
        }

        .TitleInfo {
            height: 80px;
            line-height: 80px;
            width: 95%;
            text-align: center;
        }
        #PayContent{margin-top:20px;}
        #AliPayAccount::-webkit-input-placeholder{
            padding-left:5px;
            color:#808080;
            font-size: 26px;
            
         }
         #TotalAmout::-webkit-input-placeholder{
            padding-left:5px;
            color:#808080;
            font-size: 26px;
            
         }
    </style>

    <div class="mgz cen" id="PayArea">

        @*<div class="yuec mg2 xi35" style="margin-top:20px;">服务通道</div>*@
        <div class="mg2 xi30" style="color:#F97600; margin-top:20px; margin-bottom:20px;">
                <button type="button" class="mgz btn btn-warning"  style="width:60%; height:60px;" onclick="GoToFastPay();">切换闪电模式</button>
            </div>
       
        <div style="margin-top:20px; margin-bottom:20px; padding:10px;">
            @*<span class="FieldLabel" style="font-weight:bold; color:#FF6634">请输入您的<span style="color:firebrick">收款支付宝账户</span>！</span>*@          
            @*<span class="FieldLabel" style="font-weight:bold;">*本系统自动回款，请放心使用！*</span>*@ 
                  
            <div>
                <label>账户：</label>
                <input id="AliPayAccount" class="AliPayAccount2" type="text" placeholder="请在此先填入您的收款支付宝账户" onfocus="this.placeholder = ''" onblur="this.placeholder = '请在此先填入您的收款支付宝账户'">
            </div>
            <button type="button" class="mgz btn btn-success verifyButton" id="bnConfirmAliPayAccount" onclick="ConfirmAliPayAccount()">确定</button>
            <button type="button" class="mgz btn btn-primary verifyButton" id="bnModifyAliPayAccount" onclick="ModifyAliPayAccount()">修改</button>
        </div>

        <div id="PayContent">
            @*<div class="yuex mg2 xi20" style="color:cornflowerblue">请用10元测试，避免数额太小，金额为零</div>*@
            @*<div>
                <span class="FieldLabel" style="font-weight:bold;color:brown;">*支付金额支持【@IQBWX.Controllers.WXBaseController.GlobalConfig.QRMin-@IQBWX.Controllers.WXBaseController.GlobalConfig.QRMax】区间*</span>
            </div>*@  
            <div>
                <span class="FieldLabel" style="font-weight:bold;color:brown;">*请关闭wifi和定位功能*</span>
            </div>      
            <div class="form-group">
                <div class="mgz">
                    <label>金额：</label>
                    <input id="TotalAmout" class="PayEditInput2" type="tel" onkeyup='this.value = this.value.replace(/[^\d.]/g, "")' 
                           placeholder="请在此输入【@IQBWX.Controllers.WXBaseController.GlobalConfig.QRMin-@IQBWX.Controllers.WXBaseController.GlobalConfig.QRMax】的金额" 
                           onfocus="this.placeholder=''" onblur="this.placeholder = '请在此输入【@IQBWX.Controllers.WXBaseController.GlobalConfig.QRMin-@IQBWX.Controllers.WXBaseController.GlobalConfig.QRMax】的金额'" />
                </div>
            </div>
            
            <div id="buttonArea" style="margin-top:200px;border-top:dashed 1px black; height:120px; line-height:120px;">
                <button type="button" class="mgz btn btn-danger" id="btnPay" style="width:90%; height:80px;" onclick="PayToAli(@IQBWX.Controllers.WXBaseController.GlobalConfig.QRMin,@IQBWX.Controllers.WXBaseController.GlobalConfig.QRMax);">支付</button>
            </div>        
        </div>
    </div>
    @*<input type="hidden" id="ReceiveNo" value="@ViewBag.ReceiveNo" />*@
    <input type="hidden" id="qrUserId" value="@ViewBag.QRUserId" />
    <div style="text-align:center">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1272813751'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1272813751%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</body>
</html>
