@model IQBCore.IQBPay.Models.Result.RQRUser
@{
    ViewBag.Title = "QRHugeEntry";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Content/Css/Component/jquery-confirm.css" rel="stylesheet" />
<script src="~/Content/Script/Component/jquery-confirm.js"></script>
<link href="@Url.Scrpit("~/Content/Css/Info.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/Content/Script/IQBPay/QRHugeEntry.js")"></script>
<style type="text/css">
    .QRHugeInfo {height:120px; width:380px;float:left;}
    .QRHugeInfo ul {margin-left:20px;margin-right:20px;padding:2px; clear:both;}
   
    .QRHugeInfo ul li{float:left; padding:10px;}
    #QRHugeInfoRight{height:100px; line-height:100px; }
    #Amount
    {
        width:40%;height:48px; display:inline-block;
        font-size:30px; color:firebrick;
    }
    #MakeQRHuge{width:200px; height:60px; float:right;}
    #ErrorMsg{padding:20px;}
    #QRImgContainer{padding:20px; text-align:center; }

    #QRDescription{width:100%; display:inline-block;}
    #QRDescription ul {width:100%;}
    #QRDescription ul li {width:100%;}

    #TransList{width:95%; margin-top:15px;}
    #TransList ul{width:95%; clear:both; padding:10px;}
    #TransList ul li {float:left;}
    .TLHeaderLi{ font-size:26px; border-bottom:solid 1px #0094ff;}
    #btnViewLog{width:100px; height:40px; line-height:20px;}
    #btnChangeMartket{width:150px; height:40px; line-height:20px;}
    
</style>
<div id="PageInfo" class="PageInfo">
    <div class="grzxcon2 mgz xi30 bai cen">大额二维码创建</div>
    <div class="InfoBody">
        <div style="text-align:center; width:100%">您当前大额码的设置</div>
        <div class="QRHugeInfo">
           <ul>
               <li>费率:</li>
               <li>@Model.FeeRate</li>
           </ul>
            <ul>
                <li>用户手续费:</li>
                <li>@Model.MarketRate</li>
            </ul>         
        </div>
        <div id="QRHugeInfoRight">
            <button type="button" class="btn btn-warning" id="btnChangeMartket" onclick="ChangeMartket();">调整手续费</button>
        </div>
        <hr class="HR3_Red" style="width:100%; text-align:center;" />

        <div id="QRDescription">
            <span style="font-size:26px;">【大额码使用说明】</span>
            <ul>
                <li>1.输入框填写金额,点击[开始制作]按钮。</li>
                <li>2.二维码生成后,长按二维码,可直接发送给您的客户。</li>
                <li>3.大额码只支持<span style="color:brown">非风控</span>用户,请让用户先使用小额通道测试<span style="color:brown">300以上</span>金额(无需支付)，如显示可用花呗支付，则可使用大额码。</li>
                <li>
                    4.二维码<span style="color:brown">10分钟</span>自动失效。
                </li>
                <li>
                    5.二维码<span style="color:brown">支付成功后</span>自动失效。
                </li>
                <li>
                    6.二维码只能支付<span style="color:brown">2次</span>,2次支付无论是否成功。二维码都将失效。
                </li>
                <li>
                    7.每个用户每天只支持连刷大额码<span style="color:brown">3笔</span>,请谨慎使用！
                </li>
            </ul>
        </div>

        <div id="MakeQR" style="height:100px; padding:10px;">
            <div class="form-group">
                <label class="label-left" style="width:20%;height:44px; line-height:50px;">制作金额:</label>
               
                <div>
                    <input id="Amount" type="tel" class="form-control" onkeyup='this.value = this.value.replace(/[^\d.]/g, "")'>   
                    <button type="button" class="btn btn-primary" id="MakeQRHuge" onclick="MakeQRHuge();">开始制作</button>
                </div>              
            </div>
        </div>
        <div>【1999-4999单笔花呗】【5000-9999分期花呗】</div>
        <div id="ErrorMsg"></div>
        <div id="Result">   
            <hr class="HR3_668ff2" style="width:100%; text-align:center;" />             
            <div id="QRImgContainer">
                <div>
                    创建：<span id="createDate"></span>
                </div>
                <img id="QRImg" src="" />
               
            </div>
            
        </div>
        <hr class="HR2_Black" style="width:100%; text-align:center;" />
        <div id="TransLog">
            <div style="color:gray"><span style="margin-right:200px;">最近创建的十个二维码</span>
            <button type="button" class="btn btn-danger" id="btnViewLog" onclick="ViewLog()">刷新</button></div>
             <div id="TransList">
                 <ul id="header">
                     <li class="TLHeaderLi" style="width:10%;">序号</li>
                     <li class="TLHeaderLi" style="width:40%;">创建时间</li>
                     <li class="TLHeaderLi" style="width:25%">金额</li>
                     <li class="TLHeaderLi" style="width:25%">支付状态</li>
                </ul>
                 <div id="Body">
                     
                 </div>
                 
             </div>

        </div>
   </div>
    <input type="hidden" value="@ViewBag.OpenId" id="hOpenId" />
    <input type="hidden" value="@ViewBag.PPSite" id="PPSite" />
    <input type="hidden" value="@ViewBag.QRUserId" id="QRUserId" />
</div>
