@model IQBCore.IQBPay.Models.Result.RQRUser
@{
    ViewBag.Title = "QRHugeEntry";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Content/Css/Component/jquery-confirm.css" rel="stylesheet" />
<script src="~/Content/Script/Component/jquery-confirm.js"></script>
<link href="@Url.Scrpit("~/Content/Css/Info.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/Content/Script/IQBPay/QRHugeEntry.js")"></script>
<style type="text/css">
    .QRHugeInfo {height:80px;}
    .QRHugeInfo ul {margin-left:20px;margin-right:20px;padding:2px; clear:both;}
   
    .QRHugeInfo ul li{float:left; padding:10px;}
    #Amount
    {
        color:black; width:35%;height:44px; display:inline-block;
    }
    #MakeQRHuge{width:200px; height:60px; float:right;}
    #ErrorMsg{padding:20px;}
    #QRImgContainer{padding:20px; text-align:center; display:inline-block}

    #QRDescription{width:300px; display:inline-block;}
    #QRDescription ul {width:300px;}
     #QRDescription ul li {width:100%;}
    
</style>
<div id="PageInfo" class="PageInfo">
    <div class="grzxcon2 mgz xi30 bai cen">大额二维码创建</div>
    <div class="InfoBody">
        <div style="text-align:center; width:100%">您当前大额码的设置</div>
        <div class="QRHugeInfo">
           <ul>
               <li>费率:</li>
               <li>@Model.FeeRate</li>
           </ul>
            <ul>
                <li>用户手续费:</li>
                <li>@Model.MarketRate</li>
            </ul>         
        </div>
        <hr class="HR3_Red" style="width:100%; text-align:center;" />

        <div id="MakeQR" style="">
            <div class="form-group">
                <label class="label-left" style="width:20%;height:44px; line-height:44px;">制作金额:</label>
                <div>
                    <input id="Amount" type="text" class="form-control" onkeyup='this.value = this.value.replace(/[^\d.]/g, "")'>   
                    <button type="button" class="btn btn-primary" id="MakeQRHuge" onclick="MakeQRHuge();">开始制作</button>
                </div>
                @*<div class="cen" style="margin-top:40px;">
                    <button type="button" class="btn btn-primary" id="btnMake" style="width:200px; height:60px;">开始制作</button>
                </div>*@
            </div>
        </div>
        <hr class="HR3_668ff2" style="width:100%; text-align:center;" />
        <div id="ErrorMsg"></div>
        <div id="Result">                
            <div id="QRImgContainer">
                <img id="QRImg" src="" />
               
            </div>
            <div id="QRDescription">
                二维码说明：
                <ul>
                    <li>1.大额码只<span style="color:brown">支持非风控用户</span>，请让用户去平台<span style="color:brown">测试599</span>后再使用</li>
                    <li>
                        2.二维码<span style="color:brown">10分钟</span>自动失效。                       
                    </li>
                    <li>
                        3.制作有一段时间的间隔。请注意填写金额和使用方式。
                    </li>
                    <li>
                        4.用户在有效期内可以无限次扫入，但只能支付2次。2次支付无论是否成功。二维码都将失效。
                    </li>
                    <li>
                        5.一个用户一天最多使用2次大额码支付。
                    </li>
                </ul>
                
            </div>
        </div>
   </div>
    <input type="hidden" value="@ViewBag.OpenId" id="hOpenId" />
    <input type="hidden" value="@ViewBag.PPSite" id="PPSite" />
</div>
