
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>收货确认</title>
    <link href="@Url.Scrpit("~/Content/Css/MainCss.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/ReceiveOrder.css")" rel="stylesheet" />
    <link href="@Url.Scrpit("~/Content/Css/PP.css")" rel="stylesheet" />
    <script src="@Url.Scrpit("~/Content/Script/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Scrpit("~/Content/Script/IQBPay/ReceiveOrder.js")"></script>
  
</head>
<body>
    <div class="CC title">收货确认</div>
    <div class="CC">
        <label>收款码：</label>
        <div style="display:inline;">
            <input id="ReceiveNo" type="text" class="EditInput" style="font-size:30px!important;width:80%; height:50px!important;">   
        </div>
        <div style="margin-top:10px;text-align:center;">
            <button type="button" class="btn btn-primary QueryButton" id="btnQuery" onclick="Query();">查询</button>
        </div>
    </div>
    <ul class="ULList" id="ROList">
        <li id="ROProcess" style="display:none;">
            <div>查询中,请稍等...</div>
        </li>
    </ul> 
</body>
</html>
