@{
    ViewBag.Title = "收款页面";
    Layout = "~/Views/Shared/_O2OLayout.cshtml";
}
<link href="@ViewBag.ppUrl/Content/Component/IQBScroll.css" rel="stylesheet" />
<script src="@ViewBag.ppUrl/scripts/Component/IQB/IQBScroll.js" type="text/javascript"></script>

<link href="~/Content/Css/Component/jquery-confirm.css" rel="stylesheet" />
<script src="~/Content/Script/Component/jquery-confirm.js"></script>

<script src="~/Content/Script/Component/jquery.blockUI.min.js"></script>

<link href="@Url.Scrpit("~/Content/Css/ReceiveOrder.css")" rel="stylesheet" />
<script src="@Url.Scrpit("~/Content/Script/IQBPay/ReceiveOrder.js")"></script>

<style type="text/css">
    .sr-only {
        color: white;
        clip: unset;
        width: 100%;
        height: 20px;
        left: 0px;
    }
</style>

<div class="Title">
    用户收款<span class="Header_CallCenter" onclick="ShowCallCenter();">联系客服</span>
</div>
<div class="PageContent">
    
    <div>
        <label class="PhoneLabel">您的手机号：</label>
        <div class="InfoRow">
            <input id="PhoneNo" type="tel" value="@ViewBag.Phone" class="EditInput" placeholder="请输入您支付所用的手机号">
            <input type="button"  class="btn btn-warning" id="btnConfirmPhone" value="确定" onclick="ConfirmPhone();">
        </div>
    </div>
    <div id="BuyerAccountArea">
        <label class="PhoneLabel">您的【支付宝】收款账户：</label>
        <div class="InfoRow">
            <input id="AlipayAccount" type="text" value="@ViewBag.AliAccount" class="EditInput" placeholder="请输入您的支付宝账户" />
            <input type="button" class="btn btn-primary" id="btnConfirmAccount" value="确定" onclick="ComfirmAccount();" />
        </div>
    </div>
    <div id="StartArea">
        <button type="button" class="btn btn-success" id="btnQuery" onclick="StartQuery(null);">查询所有已支付订单</button>
    </div>
     
    <div class="DataContent" id="Detail">
        <table class="table" id="DataTable">
            <tbody>
                @*<tr>
                    <td>
                        <div class="lineRow">
                            <div class="lineRow_content">
                                <div class="PayValue">收款金额：<span class="AmtValue">192921.11</span></div>
                                <div class="PayDate">支付日期：2018-2-1</div>
                            </div>
                           
                            <div class="lineRow_op">
                               状态：<span class="StatusValue">处理中</span>
                            </div>
                        </div>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="lineRow">
                            <div class="lineRow_content">
                                <div class="PayValue">收款金额：<span class="AmtValue">192921.11</span></div>
                                <div class="PayDate">支付日期：2018-2-1</div>
                                
                            </div>

                            <div class="lineRow_op">
                                <input type="button" class="btn btn-danger" value="收款"/>
                            </div>
                        </div>

                    </td>
                </tr>*@
            </tbody>
        </table>

    </div>
</div>



